<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container" style='max-width: 600px'>
      <% include ../static/partials/messages.ejs %>

      <div style="display: flex; align-items:center;">
        <% if(currentUser) { %>
          <% include ../votes/voting.ejs %>
        <% } %>

          <h4 class='post-title'style='width:100%'><%= post.title %></h4>
          <div style='margin: 0 auto;width:50%;display: flex; justify-content:flex-end' class='float-right'> 
            <a href="/topics/<%= post.topicId %>" class="btn btn-outline-info btn-sm"><i class="fas fa-arrow-left"></i></a>
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-outline-warning btn-sm"><i class="fas fa-edit"></i></a>
              <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
              </form>
              <% if(currentUser) { %>
                <% include ../favorites/favoriting.ejs %>
              <% } %>
            </div>
        </div>
    
      <p><%= post.body %></p>

      <section id="comment-form">
        <% if(currentUser) { %>
          <% include ../comments/new.ejs %>
        <% } %>
      </section>

      <section id='comment-list' style='width: 100%'>
        <% if(post.comments) { %>
          <% post.comments.forEach((comment) => { %>
            
            <%- include('../comments/show.ejs', {comment}) %>
          <% }) %>
        <% } %>
      </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>